<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Start year:</strong>
  <%= @project.start_year %>
</p>

<p>
  <strong>Csv tags:</strong>
  <%= @project.csv_tags %>
</p>

<p>
  <strong>Short desc:</strong>
  <%= @project.short_desc %>
</p>

<p>
  <strong>Long desc:</strong>
  <%= @project.long_desc %>
</p>

<p>
  <strong>Website:</strong>
  <%= @project.website %>
</p>

<p>
  <strong>Github:</strong>
  <%= @project.github %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
