<!DOCTYPE html>
<html>
  <head>
    <% x = @title.nil? ? "" : " | #{@title}" %>
    <title><%= "Engaging Computing Group"+x %></title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag do %>
      window.namespace = <%= raw @namespace.to_json %>
      window.env = '<%= Rails.env %>'
    <% end %>
  </head>

  <body>
    <div class="menu">
      <ul>
        <li><%= link_to 'Home' , '/' %></li>
        <li><%= link_to 'Projects' , '/projects' %></li>
        <li><%= link_to 'People' , '/people' %></li>
        <li><%= link_to 'Articles' , '/articles' %></li>
        <li><%= link_to 'Contact' , '/' %></li>
      </ul>
    </div>
    <h5>begin content</h5>
    <%= yield %>
    <h5>end content</h5>
    
    <footer class="footer">
      <div class="container">
        <div class="col1">University of Massachusetts Lowell</div>
        <div class="col2">Department of Computer Science</div>
        <div class="col3">198 Riverside St, Lowell, MA 01854</div>
        <%= link_to image_tag("twitter_icon.svg", :alt => "Twitter", :size => '50x50'), "https://twitter.com/ecg_uml"%>
        <%= link_to image_tag("instagram_icon.svg", :alt => "Instagram", :size => '50x50'), "https://www.instagram.com/ecg_uml"%>
        <%= link_to image_tag("youtube_icon.svg", :alt => "YouTube", :size => '50x50'), "https://www.youtube.com/channel/UC9b2haC8QZAOruk0rTVXRNA?disable_polymer=true"%>
    </div>
    
  </body>
</html>
